//Burger Colors
$burgerColor: #66acff;
$burgerActiveColor: #66acff;

// Main Colors
$blue: #66acff;
$brown: #e8d3bf;
$text: #515151;

$light: #fff;
$dark: #222;
// Medias

$medium: 992px;
$large: 1200px;
$tablet: 768px;
