<section class="advantage">
	
	<div class="container advantage__container">
		<h2 class="advantage__title title advantage__title-mobile">
			<span class="vegan-text">Наши</span><span>отличи</span>
		</h2>
		<div class="advantage__left">
			<div class="advantage__img-wrap">
				<img
					width="438"
					height="551"
					class="advantage__img"
					src="assets/img/advantage/all1.svg"
					alt=""
				/>
			</div>
			<div class="advantage__item advantage__item-1">Найти выход</div>
			<div class="advantage__item advantage__item-2">Разобраться в себе</div>
			<div class="advantage__bigitem">
				<span>!</span>
				<span>Срочная помощь от психологов</span>
			</div>
		</div>
		<div class="advantage__right">
			<h2 class="advantage__title title">
				<span class="vegan-text">Наши</span><span>отличи</span>
			</h2>
			<p class="advantage__text">
				Мы&nbsp;верим, что именно другие люди могут сделать нашу жизнь лучше.
				Благодаря технологиям это можно сделать легко&nbsp;&mdash; в&nbsp;любое
				время, в&nbsp;любом месте
			</p>
			<button class="btn btn--brown epic-btn advantage__btn">
				<span>Оставить заявку</span>
				<span>Оставить заявку</span>
			</button>
		</div>
	</div>
</section>
