<section class="feedback">
	<div class="container feedback__container">
		<h2 class="feedback__title title">Отзывы</h2>
		<div class="feedback__wrapper">
			<div class="feedback__inner">
				<!-- Slider main container -->
				<div class="swiper feedback-swiper">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						<!-- Slides -->
						<div class="swiper-slide">
							<div class="feedback-card">
								<div class="feedback-card__top">
									<div class="feedback-card__img">
										<img src="assets/img/feedback/card1.png" alt="master" />
										<img
											src="assets/img/feedback/brownCircle.svg"
											aria-label="hidden"
										/>
									</div>
									<div class="feedback-card__info">
										<div class="feedback-card__name">Маша Катарсис</div>
										<div class="feedback-card__profession">иллюстратолка</div>
									</div>
								</div>
								<div class="feedback-card__text">
									Платформа, на которой я беру консультации, называется Понимаю.
									Каждую секунду беседы с Татьяной я чувствую понимание на 100%.
									Благодарю за все.
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="feedback-card">
								<div class="feedback-card__top">
									<div class="feedback-card__img">
										<img src="assets/img/feedback/card2.png" alt="master" />
										<img
											src="assets/img/feedback/blueCircle.svg"
											aria-label="hidden"
										/>
									</div>
									<div class="feedback-card__info">
										<div class="feedback-card__name">Маша Катарсис</div>
										<div class="feedback-card__profession">иллюстратолка</div>
									</div>
								</div>
								<div class="feedback-card__text">
									Платформа, на которой я беру консультации, называется Понимаю.
									Каждую секунду беседы с Татьяной я чувствую понимание на 100%.
									Благодарю за все.
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="feedback-card">
								<div class="feedback-card__top">
									<div class="feedback-card__img">
										<img src="assets/img/feedback/card3.png" alt="master" />
										<img
											src="assets/img/feedback/brownCircle.svg"
											aria-label="hidden"
										/>
									</div>
									<div class="feedback-card__info">
										<div class="feedback-card__name">Маша Катарсис</div>
										<div class="feedback-card__profession">иллюстратолка</div>
									</div>
								</div>
								<div class="feedback-card__text">
									Платформа, на которой я беру консультации, называется Понимаю.
									Каждую секунду беседы с Татьяной я чувствую понимание на 100%.
									Благодарю за все.
								</div>
							</div>
						</div>

						<!--  -->

						<div class="swiper-slide">
							<div class="feedback-card">
								<div class="feedback-card__top">
									<div class="feedback-card__img">
										<img src="assets/img/feedback/card3.png" alt="master" />
										<img
											src="assets/img/feedback/brownCircle.svg"
											aria-label="hidden"
										/>
									</div>
									<div class="feedback-card__info">
										<div class="feedback-card__name">Маша Катарсис</div>
										<div class="feedback-card__profession">иллюстратолка</div>
									</div>
								</div>
								<div class="feedback-card__text">
									Платформа, на которой я беру консультации, называется Понимаю.
									Каждую секунду беседы с Татьяной я чувствую понимание на 100%.
									Благодарю за все.
								</div>
							</div>
						</div>

						<!--  -->
					</div>
					<!-- If we need pagination -->
					<div class="swiper-pagination"></div>

					<div class="feedback-swiper__buttons">
						<div class="feedback-swiper__prev">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="15"
								height="17"
								viewBox="0 0 15 17"
								fill="none"
							>
								<path
									d="M-4.15258e-07 8.5L14.25 0.272758L14.25 16.7272L-4.15258e-07 8.5Z"
									fill="#E8D3BF"
								/>
							</svg>
						</div>
            <div class="feedback-swiper__pagination">
              
            </div>
						<div class="feedback-swiper__next">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="15"
								height="17"
								viewBox="0 0 15 17"
								fill="none"
							>
								<path
									d="M15 8.5L0.750001 0.272758L0.75 16.7272L15 8.5Z"
									fill="#E8D3BF"
								/>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
