<footer class="footer">
	<div class="footer__container container">
		<div class="footer__mail">
			<a href="mailto:support@aera.expert" class="hero__email">
				<svg class="mail-icon">
					<use xlink:href="assets/img/svg/sprite.svg#mail"></use>
				</svg>
				<span>support@aera.expert</span>
			</a>
		</div>
		<div class="footer__wrap">
			<a href="#" class="footer__politic"
				>Политика конфиденциальности для клиентов</a
			>
			<a href="#" class="footer__politic"
				>Политика конфиденциальности для психологов</a
			>
		</div>
	</div>
</footer>
