<header class="header">
	<div class="header__container container">
		<!-- Logo -->
		<a width="203" height="51" href="#" class="header__logo"
			><img src="assets/img/header/logo.svg" alt="logo"
		/></a>
		<!-- Logo -->

		<div class="header__navigation">
			<nav class="nav header__nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#" class="nav__link active">
							<span>Для</span>
							<span>Себя</span>
						</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">
							<span>Для</span>
							<span>Компании</span>
						</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">
							<span>Для</span>
							<span>Психологов</span>
						</a>
					</li>
				</ul>
			</nav>
			<div class="header__buttons">
				<button class="header__btn btn btn--blue epic-btn">
					<span>Зарегистрироваться</span>
					<span>Зарегистрироваться</span>
				</button>
			</div>
		</div>

		<div class="header__right">
			<!-- Burger -->
			<div class="burger">
				<span></span>
			</div>
			<!-- Burger -->

			<!-- Mobile Register -->
			<div class="header__register" aria-label="click to register">
				<img src="assets/img/header/profile.svg" alt="click to register" />
			</div>
			<!-- Mobile Register -->
		</div>
	</div>
</header>
