<section class="hero">
	<div class="hero__container container">
		<div class="hero__left">
			<div class="hero__title title">
				<span class="vegan-text">Платформа</span>
				<span>AERA</span>
			</div>
			<h1 class="hero__text">
				Это индивидуальные онлайн сессии с&nbsp;психологом, коучем,
				фитнес-тренером. Для вас и&nbsp;вашей компании.
			</h1>
			<div class="hero__actions">
				<button class="hero__btn btn btn--brown epic-btn">
					<span>Подобрать специалиста</span>
					<span>Подобрать специалиста</span>
				</button>
				<a href="mailto:support@aera.expert" class="hero__email">
					<svg class="mail-icon">
						<use xlink:href="assets/img/svg/sprite.svg#mail"></use>
					</svg>
					<span>support@aera.expert</span>
				</a>
			</div>
		</div>
		<div class="hero__right">
			<div class="hero__img">
				<img
					class="girl-img"
					src="./assets/img/hero/girlMainCircle.png"
					alt="doctor examines patient"
				/>

				<div class="blue-circle hero__circle"></div>
			</div>
			<div class="hero-card">
				<div class="hero-card__title">
					Поиск коуча, психолога, фитнес-тренера
				</div>
				<ul class="hero-card__items">
					<li class="hero-card__item">
						<img
							class="hero-card__img"
							src="assets/img/hero/card1.png"
							alt="фитнестренер фото"
						/>
						<div class="hero-card__profession">Психолог</div>
					</li>
					<li class="hero-card__item">
						<img
							class="hero-card__img"
							src="assets/img/hero/card2.png"
							alt="фитнестренер фото"
						/>
						<div class="hero-card__profession">Коуч</div>
					</li>
					<li class="hero-card__item">
						<img
							class="hero-card__img"
							src="assets/img/hero/card3.png"
							alt="фитнестренер фото"
						/>
						<div class="hero-card__profession">Коуч</div>
					</li>
					<li class="hero-card__item">
						<img
							class="hero-card__img"
							src="assets/img/hero/card4.png"
							alt="фитнестренер фото"
						/>
						<div class="hero-card__profession">Фитнес тренер</div>
					</li>
					<li class="hero-card__item">
						<img
							class="hero-card__img"
							src="assets/img/hero/card5.png"
							alt="фитнестренер фото"
						/>
						<div class="hero-card__profession">Психолог</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="hero__title title mobile-title">
			<span class="vegan-text">Платформа</span>
			<span>AERA</span>
		</div>

		<div class="mouse-wrapper">
			<div class="mouse-inner">
				<div class="mouse-icon">
					<img src="assets/img/hero/mouse.svg" />
				</div>
				<div class="mouse-line">
					<img src="assets/img/hero/line.svg" />
				</div>
			</div>
			<div class="mouse-circle"></div>
		</div>
	</div>
</section>
