<section class="team">
	<div class="container team__container">
		<h2 class="title team__title">
			<span class="vegan-text">Наша</span>
			<span>команда</span>
		</h2>
		<div class="team__wrapper">
			<div class="swiper team-swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="team-card">
							<div class="team-card__top">
								<div class="team-card__img">
									<img src="assets/img/team/card1.png" alt="master" />
									<img src="assets/img/team/brownCircle.svg" />
								</div>
							</div>
							<div class="team-card__name">
								<span>Елена</span> <span>Немкова</span>
							</div>
							<div class="team-card__profession">Психолог</div>
							<button class="epic-btn team-card__btn">
								<span>Подробнее</span>
								<span>Подробнее</span>
							</button>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="team-card">
							<div class="team-card__top">
								<div class="team-card__img">
									<img src="assets/img/team/card2.png" alt="master" />
									<img src="assets/img/team/blueCircle.svg" />
								</div>
							</div>
							<div class="team-card__name">
								<span>Елена</span> <span>Немкова</span>
							</div>
							<div class="team-card__profession">Коуч</div>
							<button class="epic-btn team-card__btn">
								<span>Подробнее</span>
								<span>Подробнее</span>
							</button>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="team-card">
							<div class="team-card__top">
								<div class="team-card__img">
									<img src="assets/img/team/card3.png" alt="master" />
									<img src="assets/img/team/brownCircle.svg" />
								</div>
							</div>
							<div class="team-card__name">
								<span>Елена</span> <span>Немкова</span>
							</div>
							<div class="team-card__profession">Коуч</div>
							<button class="epic-btn team-card__btn">
								<span>Подробнее</span>
								<span>Подробнее</span>
							</button>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="team-card">
							<div class="team-card__top">
								<div class="team-card__img">
									<img src="assets/img/team/card4.png" alt="master" />
									<img src="assets/img/team/brownCircle.svg" />
								</div>
							</div>
							<div class="team-card__name">
								<span>Елена</span> <span>Немкова</span>
							</div>
							<div class="team-card__profession">Фитнес тренер</div>
							<button class="epic-btn team-card__btn">
								<span>Подробнее</span>
								<span>Подробнее</span>
							</button>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="team-card">
							<div class="team-card__top">
								<div class="team-card__img">
									<img src="assets/img/team/card5.png" alt="master" />
									<img src="assets/img/team/brownCircle.svg" />
								</div>
							</div>
							<div class="team-card__name">
								<span>Елена</span> <span>Немкова</span>
							</div>
							<div class="team-card__profession">Психолог</div>
							<button class="epic-btn team-card__btn">
								<span>Подробнее</span>
								<span>Подробнее</span>
							</button>
						</div>
					</div>
				</div>
				<div class="team-swiper__buttons">
					<div class="team-swiper__prev">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="15"
							height="17"
							viewBox="0 0 15 17"
							fill="none"
						>
							<path
								d="M-4.15258e-07 8.5L14.25 0.272758L14.25 16.7272L-4.15258e-07 8.5Z"
								fill="#E8D3BF"
							/>
						</svg>
					</div>
					<div class="team-swiper__next">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="15"
							height="17"
							viewBox="0 0 15 17"
							fill="none"
						>
							<path
								d="M15 8.5L0.750001 0.272758L0.75 16.7272L15 8.5Z"
								fill="#E8D3BF"
							/>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn--blue epic-btn team__btn">
			<span>Зарегистрироваться</span>
			<span>Зарегистрироваться</span>
		</button>
	</div>
</section>
