.hero {
	padding-top: 25px;
	// .hero__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: $medium) {
			flex-direction: column-reverse;
		}
	}

	// .hero__left

	&__left {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
	}

	// .hero__title

	&__title {
		margin-bottom: 11px;
		font-size: 70px;
		@media screen and (max-width: $large) {
			font-size: 48px;
		}
		@media screen and (max-width: $medium) {
			display: none;
			text-align: center;
		}
	}

	// .hero__text

	&__text {
		margin-bottom: 40px;

		max-width: 710px;

		@media screen and (max-width: $medium) {
			max-width: 80%;
			text-align: center;
			margin: 0 auto;
			margin-bottom: 30px;
		}
		@media screen and (max-width: $tablet) {
			max-width: 90%;
			font-size: 17px;
			margin-top: 15px;
			margin-bottom: 48px;
		}
		@media screen and (max-width: 450px) {
			margin-bottom: 22px;
		}
		color: $text;
		font-family: Greenwich;
		font-size: 18px;
		font-weight: 400;
		line-height: 131%;
	}

	// .hero__actions

	&__actions {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 15px;
		@media screen and (max-width: $medium) {
			margin: 0 auto;
		}
		@media screen and (max-width: $tablet) {
			flex-direction: column;
			align-items: center;
		}
	}

	// .hero__email

	&__email {
		display: flex;
		align-items: center;
		gap: 10px;
		color: $text;
		font-family: Greenwich;
		font-size: 19px;
		font-weight: 400;
		@include trans(color);

		@include hover {
			color: #222;
			.mail-icon {
				fill: #222;
			}
		}
	}

	// .hero__right

	&__right {
		position: relative;
		flex-shrink: 0;
	}

	// .hero__img

	&__img {
		position: relative;
	}

	// .hero__circle

	&__circle {
		position: absolute;
		right: 50px;
		top: 75px;
	}

	// Company Page
	&__small-1 {
		position: absolute;
		z-index: 2;
		bottom: -11px;
		left: 45px;
		@media screen and (max-width: 540px) {
			bottom: 113px;
			left: -10px;
		}
	}
	&__small-2 {
		position: absolute;
		z-index: 2;
		top: 54px;
		right: 64px;
	}
}

.mail-icon {
	@include trans(fill);
	width: 21px;
	height: 12px;
	fill: #969696;
}

.girl-img {
	position: relative;
	z-index: 2;
	width: 540px;
	height: 581px;

	@media screen and (max-width: $large) {
		width: 520px;
	}
	@media screen and (max-width: $tablet) {
		height: 400px;
		width: 520px;
		object-fit: cover;
		margin-top: 40px;
	}
}

.blue-circle {
	width: 410px;
	height: 410px;

	border-radius: 50%;
	opacity: 0.8;
	background: radial-gradient(50% 50% at 50% 50%, #66acff 0%, #66acff 100%);
	filter: blur(99px);
}

.hero-card {
	position: absolute;
	z-index: 2;
	bottom: 40px;
	right: 0;
	@media screen and (max-width: $tablet) {
		bottom: 10px;
	}
	padding-top: 8px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 25px;
	width: -moz-max-content;
	width: max-content;
	border-radius: 10px;
	background: #fff;
	// .hero-card__title

	&__title {
		margin-bottom: 20px;
		color: $text;
		font-family: Greenwich;
		font-size: 15px;
		font-weight: 400;
		line-height: 146%;
	}

	// .hero-card__items

	&__items {
		display: flex;
		gap: 13px;
	}

	// .hero-card__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50px;
		height: max-content;
		@media screen and (max-width: $tablet) {
			&:last-child {
			}
		}
	}

	// .hero-card__img

	&__img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		overflow: hidden;
		object-fit: cover;
		object-position: center;
	}

	// .hero-card__profession

	&__profession {
		color: $text;
		font-family: Greenwich;
		font-size: 13px;
		font-weight: 350;
		line-height: 170%;
	}
}

.mobile-title {
	display: none;
	@media screen and (max-width: $medium) {
		display: block;
		// margin-bottom: 48px;
		font-size: 45px;
	}
}

.company-img {
	// height: 400px !important;
	// width: 400px !important;
}

.company-card {
	bottom: -50px;
}
.company-text {
	margin-top: 0;
}
.company-text-1 {
	@media screen and (max-width: $medium) {
		margin-top: 100px;
		margin-bottom: 30px;
	}
}

.company-mobile-title {
	font-size: 40px;
}
